.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://cdn.discordapp.com/attachments/461741755407138818/1099592370217046057/image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-container label {
  color: #fff;
  margin-bottom: 5px;
  font-size: 16px;
}

.input-container input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.login-container button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #e53935;
}
